<%- include("partials/header.ejs") %>

<div class="aboutContainer" >


<h1>Network Camera</h1>
<h2>Milesight MS-C2964-(R)UPD (2MP)</h2>

<img class="profile" src="images/logo3.jpg" alt="camera">




<p>
  
Combined with built-in warm illuminator, which could deliver colorful and high resolution images in the dark or at night for the majority of monitoring scenarios, like outdoor area, parking lot, retails and so on.





</p>



</div>


  <%- include("partials/footer.ejs") %>
  